/*---------Global--------*/
*{
    padding: 0;
    margin: 0;
    outline: 0;
    border: 0;
    font-size: 100%;
    vertical-align: baseline;
}
:root{
    --main-black: #1E202B;
    --main-blue: #08AEEA;
    --main-green: #2AF598;
    --main-gradient: linear-gradient(to right, var(--main-blue), var(--main-green));
}
html{
    font-family: Avenir,sans-serif;
    background-color: white;
}
h1{
    font-size: 48px;
    font-weight: 700;
    color: var(--main-black);
}
h2{
    font-size: 36px;
    font-weight: 700;
    color: var(--main-black);
}
p, li{
    font-size: 19px;
    font-weight: 400;
    color: var(--main-black)
}
.btnWhite{
    display: inline-block;
    text-decoration: none;
    width: 200px;
    height: 60px;
    font-size: 20px;
    line-height: 60px;
    font-weight: 700;
    text-align: center;
    margin-bottom: 135px;
    background: #2af598;
    background: -webkit-linear-gradient(top right,#2af598,#08aeea);
    background: -o-linear-gradient(top right,#2af598,#08aeea);
    background: -moz-linear-gradient(top right,#2af598,#08aeea);
    background: linear-gradient(top right,#2af598,#08aeea);
    -webkit-background-clip:text;
    -webkit-text-fill-color: transparent;
}
.btnGroup{
    position: relative;
    z-index: 1;
}
.whiteBG{
    background-color: white;
    display: block;
    height: 60px;
    width: 200px;
    position: absolute;
    z-index: -1;
    top: 0;
    border-radius: 3px;
}
.btnColor{
    display: inline-block;
    text-decoration: none;
    width: 200px;
    height: 60px;
    line-height: 60px;
    text-align: center;
    background-image: var(--main-gradient);
    color: white;
    font-size: 20px;
    font-weight: 700;
    border-radius: 3px;
}
.btnGreen{
    color: var(--main-green);
    text-decoration: none;
    font-size: 20px;
    font-weight: 700;
    letter-spacing: 1px;
}
span{
    color: var(--main-green);
}

/*--------Header/Nav-------*/
nav{
    display: inline-block;
    width: 100%; 
}
nav a{
    color: white;
    text-decoration: none;
    line-height: 100px;
}
.logo{
    font-weight: 500;
    font-size: 25px;
    letter-spacing: 2px;
}
nav ul{
    float: right;
    list-style: none;
}
nav ul li{
    display: inline-block;
    margin-left: 50px;
}
header h1{
    color: white;
    width: 55%;
    margin: 90px 0 40px 0;
}
header p{
    color: white;
    margin-bottom: 40px;
    opacity: 0.9;
}
header{
    background-image: url(images/deadpoolheader.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 100vh;
    min-height: 900px;
    width: 90%;
    padding: 0 5%;
}
.ipad{
    width: 60%;
    position: absolute;
    right: 0;
    bottom: 60px;
}
.iphone{
    width: 40%;
    position: absolute;
    right: 10%;
    top: 400px;
    display: none;
}
.mobile{
    display: none;
}
label{
    margin: 0 40px 0 0;
    font-size: 25px;
    color: white;
    cursor: pointer;
    position: absolute;
    top: 32px;
    right: 0;
}
#toggle{
    display: none;
}
.mobile ul{
    text-align: center;
    width: 100%;
    display: none;
    margin: 0;
    background-color: rgba(255,255,255,0.1);
}
.mobile ul li {
    margin 0;
    width: 100%;
    border-bottom: 1px solid rgba(255,255,255,0.2);
}
#toggle:checked ~ul {
    display: block;
}

/*---------new 4k---------*/
.new4KMovies{
    width: 90%;
    padding: 0 5%;
    margin-bottom: 160px;
}
.sectionTitle h2 , .sectionTitle a{
    display: inline-block;
    vertical-align: middle;
}
.sectionTitle a {
    margin-left: 20px;
}
.sectionTitle{
    margin: 50px 0 20px 0;
}
.new4KMovies ul {
    width: 100%;
    display: flex;
    list-style: none;
}
.new4KMovies ul li img{
    width: 92%;
    margin: 7%;
    box-shadow: 0px 3px 5px 0px rgba(0,0,0,1000);
}

/*---------- calltoac---------*/
.callToAction{
    text-align: center;
    width: 60%;
    margin: 0 auto  200px auto;
    
}

.callToAction h1{
    margin-bottom: 40px;
}

/*-------- footer--------*/
footer a{
    text-align: none;
    text-decoration: none;
    color: var(--main-black);
}
footer ul{
    list-style: none;
    text-decoration: none;
    float: right;
}
footer ul li {
    display: inline-block;
    margin-left: 50px;
}
.copy a , .copy p{
    display: inline-block;
    vertical-align: middle;
} 
.copy p{
    margin-left: 20px;
}
footer{
    width: 90%;
    padding: 0 5%;
}
footer ul, .copy{
    line-height: 80px;
    display: inline-block;
}

/*----------responsive-----------*/
@media only screen and (max-width: 1200px){
    body{
/*        background-color: red;*/
    }
    header{
        height: 100vh;
        min-height: 1000px;
    }
    header h1{
        margin: 50px 0 40px 0;
    }
    .btnWhite{
        margin-bottom: 80px;
    }
    .callToAction{
        width: 90%;
    }
    .ipad{
        display: none;
    }
    .iphone{
        display: block;
        width: 500px;
    }
}
@media only screen and (max-width:900px){
    body{
/*        background: red;*/
    }
    header h1{
        width 100%;
    }
    header{
        background-position: left center;
    }
    .iphone{
         display: none;
    }
    footer ul{
        float: none;
        text-align: center;
        display: block;
    }
    .copy{
        text-align: center;
        display: block;
    }
    footer ul li {
        margin: 0 25px;
    }
}
@media only screen and (max-width:700px){
    body{
/*        background: red;*/
    }
    .new4KMovies ul {
        flex-direction: column;
    }
    .desktop{
        display: none;
    }
    .mobile{
        display: block;
    }
    nav ul li{
        margin: 0;
    }
    footer ul li{
        display: none;
    }
    h1{
        font-size: 36px;
    }
    footer{
/*        height: 400px;*/
    }
    header p {
        display: none;
    }
}









































